<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="col-md-12">
        <div class="text-center">
        </div>
      </div>
      <br>
      <div class="row justify-content-center">
        <!-- Adminin sileceği ve denetleyeceği soruların bölümünün for döngüsü ile ekrana yansıtıldığı yer. -->
        <div class="col-md-5" *ngFor="let soru of sorular">
          <div class="card text-center mt-2">
            <div class="card-header">
              Soru
            </div>
            <!-- Soruları yansıtma -->
            <div class="card-body">
              <h5 class="card-title">{{soru.soruAd}}</h5>
              <p class="card-text ">{{soru.soru}}</p>
              <b>Eklenme Tarihi:</b>{{soru.kayTarih | date:'dd.MM.yyyy HH.mm.ss'}}
            </div>
            <div class="card-footer text-muted">
              <!-- Adminin her şeyi yapabileceği bölüme özel düzenle sil ve detay bölümü -->
              <a href="#" class="btn btn-primary" [routerLink]="['/sorudetay',soru.key]">Detay</a>
              <a href="#" class="btn btn-warning mx-2" [routerLink]="['/soruduzenle',soru.key]">Düzenle</a>
              <a href="#" class="btn btn-danger mx-2" (click)="soruSil(soru.key!)">Sil</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>