<div class="container">
  <div class="row justify-content-center align-self-center">
    <div class="col-md-6 mt-2">
      <div class="text-center">
        <!-- Profilin sahibin adı. -->
        <h4>Hoşgeldiniz. {{adsoyad}}</h4>
      </div>
      <div class="card mt-5">
        <!-- Profilin sahibin detayları -->
        <div class="card-header"><b>Ad: {{profil?.ad}}</b>
        </div>
        <div class="card-body"><b>Soyad: {{profil?.soyad}}</b></div>
        <div class="card-footer"><b>Mail: {{profil?.mail}}</b></div>
      </div>
    </div>
  </div>
</div>